baostock==0.9.1
dnspython==2.8.0
narwhals==2.20.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pandas-ta-classic==0.5.44
plotly==6.7.0
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
